.component-button {
  border: solid 3px rgb(255, 0, 0);
  width: 10%;
  height: 2rem;
  background-color: rgb(122, 122, 255);
  color: white;
  box-shadow: 2px 2px 4px rgb(21, 255, 0);
  border-radius: 10px;
}
